  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
             What is Gestational Diabetes?
      </h4>
    </div>
       <div class="panel-body"><p>Pregnant women who have never had diabetes before but who have high blood glucose (sugar) levels during pregnancy are said to have gestational diabetes. According to a 2014 analysis by the Centers for Disease Control and Prevention, the prevalence of gestational diabetes is as high as 9.2%. </p>
	<p>We don't know what causes gestational diabetes, but we have some clues. The placenta supports the baby as it grows. Hormones from the placenta help the baby develop. But these hormones also block the action of the mother's insulin in her body. This problem is called insulin resistance. Insulin resistance makes it hard for the mother's body to use insulin. She may need up to three times as much insulin.</p>
	<p>Gestational diabetes starts when your body is not able to make and use all the insulin it needs for pregnancy. Without enough insulin, glucose cannot leave the blood and be changed to energy. Glucose builds up in the blood to high levels. This is called hyperglycemia. </p></div>
   </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
               How Gestational Diabetes Can Affect Your Baby
      </h4>
    </div>
   
    <div class="panel-body"><p>Gestational diabetes affects the mother in late pregnancy, after the baby's body has been formed, but while the baby is busy growing. Because of this, gestational diabetes does not cause the kinds of birth defects sometimes seen in babies whose mothers had diabetes before pregnancy.</p>
	<p>However, untreated or poorly controlled gestational diabetes can hurt your baby. When you have gestational diabetes, your pancreas works overtime to produce insulin, but the insulin does not lower your blood glucose levels. Although insulin does not cross the placenta, glucose and other nutrients do. So extra blood glucose goes through the placenta, giving the baby high blood glucose levels. This causes the baby's pancreas to make extra insulin to get rid of the blood glucose. Since the baby is getting more energy than it needs to grow and develop, the extra energy is stored as fat.</p>
	<p>This can lead to macrosomia, or a "fat" baby. Babies with macrosomia face health problems of their own, including damage to their shoulders during birth. Because of the extra insulin made by the baby's pancreas, newborns may have very low blood glucose levels at birth and are also at higher risk for breathing problems. Babies with excess insulin become children who are at risk for obesity and adults who are at risk for type 2 diabetes.</p>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
             Why do I have to take the Glucose Tolerance Test (GTT) but my friend who is pregnant also does not?
      </h4>
    </div>
      <div class="panel-body"><p>This is because something from your Medical files has flagged you for this test. This might be information you provided about a history of Diabetes in your family, or you may have a higher BMI than average, or if you have had Gestational Diabetes during previous pregnancies. It is thought that many women who are not flagged for the test actually do become Diabetic but can go untreated due to the nature of this testing. Much is being discussed about bringing in mandatory testing for all pregnancies due to the worrying increase of the disease in modern society.</p>
      </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
              I just found out I have Gestational Diabetes – what happens next?</a>
      </h4>
    </div>
   
    <div class="panel-body"><p>Once you are diagnosed, your medical visits will be increased and you will be monitored closely to make sure that your blood sugars are maintained within a certain range. Initially you will have the opportunity to control your Blood Sugar levels through diet and exercise. If this is unsuccessful you will be prescribed Insulin to help control your Blood Sugar levels instead. It is important for many reasons that your Blood Sugar Levels stay within the range provided by your Medical advisors.</p>
     </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
                How will I track and record my Blood Sugar Levels? 
      </h4>
    </div>
      <div class="panel-body"><p>You will be provided a Testing Unit (comprising of reader, glucose strips, needle pen) and a Book. You test your Blood Sugars 7 times a day at the following times:</p>
		<ul>
		<li>First thing in the morning</li>
		<li>1 hr after Breakfast</li>
		<li>1 hr before Lunch</li>
		<li>1 hr after Lunch</li>
		<li>1 hr before Dinner</li>
		<li>1 hr after Dinner</li>
		<li>Before Bed.</li>
		</ul>
		<p>You record your Blood Sugar levels in your book along with any comments you may wish to add. If you are prescribed insulin you will also be recording your dosage here too. Your healthcare professional will take a look at your book on all your remaining visits to make sure you are managing ok and everything is in order. </p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
            This seems like a lot of work, testing, recording, managing etc Is there an easier way to do this?
      </h4>
    </div>
  
      <div class="panel-body"><p>Yes, If you join our community, you can use our Web Application to log and track your Blood Sugar levels. Your healthcare professional will have access to view these online also so you won’t need to remember your book at all times too. We also provide very useful meal ideas which have been tried and tested by other members of the community and don’t raise sugar levels for a rolling average of 20 users a time. </p> <p><i>(As hormone levels are different for everyone, blood sugar levels respond uniquely to each meal for each individual. We have asked members of our community to provide feedback on our recipes about their readings after trying our dishes, and from this information we keep a rolling average blood sugar reading which rises and falls depending on this data. We only post those within the allowable ranges)</i></p>
   
  </div>
