	<div class="container">
    			<h3>Welcome to the Gestational Diabetes Community</h3>
  				<br></br>
  				<div class="col-sm-4"><img src="./images/momandholl.png" class="img-circle" alt="momandholl" width="200" height="250"></div>
  				<div class="col-sm-7"><blockquote class="blockquote-reverse"><p>Our mission is to raise awarness about Gestational Diabetes. We want to provide support and advice and some practical tools to help Women with GD and their families get through this challenging time. Diabetes, generally is on the increase and there are a number of different types. Less is known about Gestational Diabetes because of its temporary nature. However, we believe that how we manage the illness during pregnancy will have a critical impact on the health of ourselves and our families in years to come. We hope you find this website helpful - happy browsing! 
  				</p><small>Miriam & Holly <cite title="Source Title"> --GD Survivors & Thrivers!</cite></small></blockquote></div>
				</div>
  	</div>