<a href="#/readings">Back to Readings</a>
<div class="panel panel-default" ng-init="getReading()">
  <div class="panel-heading">
    <h3 class="panel-title">{{article.articleTitle}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <h4>{{article.articleTitle}}<h4>
        <ul class="list-group">
          <li class="list-group-item">Day: {{reading.reading_day}}</li>
          <li class="list-group-item">Date: {{reading.reading_date}}</li>
          <li class="list-group-item">Meal Time: {{reading.reading_meal}}</li>
          <li class="list-group-item">Recording Time: {{reading.reading_time}}</li>
          <li class="list-group-item">Blood Sugar Level: {{reading.reading_level}}</li>
         </ul>
       </div>
    </div>
  </div>
</div>
<div class="pull-right">
  <a href="#/readings/edit/{{reading._id}}">Edit</a> |  <a href="#" ng-click="removeReading(reading._id)">Delete</a>
  </div>